*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Roboto', sans-serif;
}

.cabecalho {
    display: block;
    width: 100%;
    background-color: #d3d3d3;
    justify-content: center;
    box-shadow: ;
}

.cabecalho > div > section {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.cabecalho > div > section > img {
    width: 200px;
}

#button {
    padding: 20px 5px 20px 5px;
    font-size: 20px;
    color: orangered;
    border-radius: 40px;
    background-color: aliceblue;
    border: solid orangered 4px;
    background-color: white;
    font-weight: bold;
}

#link {
    text-decoration: none;
    color: orangered;
}

.container {
    width: 80%;
    /* padding: 25px; */
    margin: auto;
}

main {
    background-color: #a9a9a9;
}

main > div > section {
    background-color: #808080;
}

main > div > section > img {
   
    display: flex;
    width: 80%;
    justify-content: space-between;
}

main > div > section {
    display: flex;
    justify-content: center;
}

main > div > div {
    background-color: #808080;
    font-size: 50px;
}

main > div > div > h2{
    text-align: start;
    margin-left:50px ;
}